<style>
    .sidenav {
        margin: 10px auto;
    }

    .table {
        margin: 10px;
        width: 54%;
        padding: 0px;
    }

    .amountbar {
        width: 10%;
        margin: 10px;
    }

    .inside_table {
        margin: 10px;
        width: 90%;
        padding: 0px;
    }

    .amountbar {
        margin: 20px;
        width: 14%;

    }

    .amount_text {
        font-family: Helvetica;
        font-size: 18px;
    }

    .amount_figure {
        font-family: Helvetica;
        font-size: 18px;
    }

    .side_table {
        margin: 10px 0px;
    }

</style>

<script>
    jQuery( document ).ready(function() {
    jQuery(".warning1").attr("disabled", true);
    });
</script>
<div class="trans">
        <div class="row">
        <div class="col-lg-6 sidenav" style="width:25%;height:auto">
                    <!--<a href="get-dataa">LOAD DATA</a>-->

            <table class='table table-bordered side_table' style="width:100%;margin-top:-4px">
                <tr class="warning">
                   <td><h5 class="heading" style="text-align:center; text-decoration:none"><a href="/users/profile" style="color:black">DASHBOARD</h5> </td>
                </tr>
                <tr class="warning">
                   <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/users/get-dataa" style="color:black">VIEW TRANSACTIONS</a><h5></td>
                </tr>
                <tr class="warning">
                   <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/users/reedem_card" style="color:black">REDEEM CARD</a></h5></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4 table" style="width:55%;margin-top:-4px">
        <table class='table table-bordered inside_table'>
        <tr class="danger">
            <th>Id</th>
            <th>From</th>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Remaining Amount</th>
            <th>Card Status</th>
        </tr>
        {{# each items }}
            <form method="POST" action="/users/redeem_card">
            <tr class="success">
                <td>{{ this.uniqid }}</td>
                <td>{{ this.user }}</td>
                <td>{{ this.username }}</td>
                <input type = "hidden" name="username" value="{{ this.username }}">
                <input type="hidden" name="id" value="{{this.id}}">
                <td>{{ this.email }}</td>
                <td>{{ this.amount }}</td>
                <td>{{ this.remaining_balance }}</td>
                <td><button type="submit" class="btn btn-default warning{{this.redeem}}" name="redeem">Redeem</button>
            </tr>
            </form>
        {{/each}}
        </table>
    </div>
        <div class="col-lg-2 amountbar" style="background-color:red;margin-top:8px">
                <h4 class="amount_text"> Total Amount</h4>
                <p class="amount_figure">{{ this.remaining_balance }}</p>
        </div>
        </div>
</div>


