<style>
    .sidenav {
        width: 97%;
        height: auto;
    }

    .table {
        margin: 10px;
        width: 54%;
        padding: 0px;
    }

    .amountbar {
        width: 10%;
        margin: 10px;
    }

    .inside_table {
        margin: 10px;
        width: 90%;
        padding: 0px;
    }

    .amountbar {
        margin: 20px;
        width: 14%;

    }

    .amount_text {
        font-family: Helvetica;
        font-size: 18px;
    }

    .amount_figure {
        font-family: Helvetica;
        font-size: 18px;
    }

    .side_table {
        margin: 10px 0px;
        width: 70%;
    }

</style>

<div class="trans">
    <div class="row">

        <div class="col-lg-6 sidenav" style="width:25%;height:auto">
            <!--<a href="get-dataa">LOAD DATA</a>-->

            <table class='table table-bordered side_table' style="width:100%;margin-top:6px">
                <tr class="warning">
                    <td><h5 class="heading" style="text-align:center; text-decoration:none"><a href="/users/profile" style="color:black">DASHBOARD</h5> </td>
                </tr>
                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/users/get-dataa" style="color:black">VIEW TRANSACTIONS</a><h5></td>
                </tr>
                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/users/reedem_card" style="color:black">REDEEM CARD</a></h5></td>
                </tr>
                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/users/request_card" style="color:black">REQUEST GIFT CARD</a></h5></td>
                </tr>
            </table>
        </div>


        <div class="col-lg-3" style="width:50%">
                <a href="http://www.giftcardsindia.in/pages/e-gift-cards#/page/1">

                    <center><img src="//d2wvwvig0d1mx7.cloudfront.net/data/org/8/media/img/cache/360x360/1499982_360x360.png" title="Digital Gift Card" class="img-resposive"  style="padding-top:5px"/>
</center>
                </a>
</div>
   <div class="col-lg-3">

                <a href="http://www.giftcardsindia.in/pages/corporate/more/corporate-gifting">

                    <img src="//d2wvwvig0d1mx7.cloudfront.net/data/org/8/media/img/cache/270x360/1499984_270x360.png" title="Corporate Gifting"  class="img-resposive" style="padding-top:5px"/>

                </a>



            </div>
      </div>
 


</div>