<style>
    .sidenav {
        margin: 10px auto;
    }

    .table {
        margin: 10px;
        width: 54%;
        padding: 0px;
    }

    .amountbar {
        width: 10%;
        margin: 10px;
    }

    .inside_table {
        margin: 10px;
        width: 90%;
        padding: 0px;
    }

    .amountbar {
        margin: 20px;
        width: 14%;

    }

    .amount_text {
        font-family: Helvetica;
        font-size: 18px;
    }

    .amount_figure {
        font-family: Helvetica;
        font-size: 18px;
    }

    .side_table {
        margin: 10px 0px;
    }

</style>

<div class="trans">
    <div class="row">

        <div class="col-lg-6 sidenav" style="width:25%;height:auto">
            <!--<a href="get-dataa">LOAD DATA</a>-->

            <table class='table table-bordered side_table' style="width:100%;margin-top:-4px">
                <tr class="warning">
                    <td>
                        <h5 class="heading" style="text-align:center; text-decoration:none"><a href="/users/profile" style="color:black">DASHBOARD</h5> </td>
                <tr class="warning">


                    <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/users/get-dataa" style="color:black">VIEW TRANSACTIONS</a><h5></td>
                </tr>

                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/users/reedem_card" style="color:black">REDEEM CARD</a></h5></td>
                </tr>

                </tr>
            </table>
        </div>

<div class="col-lg-4 table" style="width:70%;">
<table class='table table-bordered inside_table' style="margin-top:-4px">
<form method="post" action="/users/manual_redeem">
     
        <tr><td><center>
	<div class="form-group">
        <label>Card Id</label>
        <input type="text" class="form-control" name="uniqid" placeholder="card_id" style="width:300px; text-align:center">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" style="width:300px; text-align:center">
    </div>
    <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" name="amount" placeholder="Amount" style="width:300px; text-align:center">
    </div>
    <button type="submit" class="btn btn-default">Redeem</button></center>
</form></td></tr>
</table>
</div>
</div></div>