<form action="/users/request_card" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text"class="form-control" id="contact" placeholder="John" name="name"style="text-align:center;width:300px" >
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" style="text-align:center;width:300px" name="email">
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text"class="form-control" id="company" placeholder="John" name="amount" style="text-align:center;width:300px">
    </div>
    <button type="submit" class="btn btn-default">Request</button>
    </td></form>