<div class="trans">
        <div class="row">
		
		        <div class="col-lg-8" style="width:30%;margin-top:4px">
		<table class='table table-bordered'>
<tr class="warning">
   <td> 
        <h5 class="heading" style="text-align:center; color:black; text-decoartion:none"><a href="/merchants/profile" style="color:black">DASHBOARD</h5> </td>
 </tr>
 <tr class="warning">
 <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/merchants/issuecards" style="color:black">VIEW TRANSACTIONS</a></h5></td>
 </tr>


 </table>      
</div>
<h5 class="heading" style="text-align:center;font-size:33px;font-family:fanatasy">Transactions</h5> 
<div class="col-lg-4" style="width:60%;padding-left:157px">
<table class='table table-bordered'>


    <tr class="danger">
        <th>Name</th>
        <th>Email</th>
        <th>Amount</th>
    </tr>
    {{# each items }}
        <tr class="item success">
            <td>{{ this.username }}</td>
            <td>{{ this.email }}</td>
            <td>{{ this.amount }}</td>
        </tr>
    {{/each}}
	</table>
</div></div></div>