<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">

            <h3>{{ this.amount }}</h3>
        </div>
        <div class="col-sm-4">
            <h3>{{ this.amount }}</h3>
        </div>
        <div class="col-sm-4">
            <img src="images/profile/1500.gif" alt="Gift card" style="width:100%;">
        </div>
    </div>
</div>