<body>
<div class="trans">
        <div class="row">
		        <div class="col-lg-8" style="width:30%;margin-top:4px">
                    <table class='table table-bordered' style="background-color:black;">

                        <tr class="warning">
                            <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/merchants/profile" style="color:black">PROFILE</a><h5></td>
                        </tr>
                        <tr class="warning">
                            <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/merchants/get-data" style="color:black">TRANSACTIONS</a></h5></td>
                        </tr>
                        <tr class="warning">
                            <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/merchants/pending_cards" style="color:black">PENDING CARDS</a></h5></td>
                        </tr>
                    </table>
                </div>
        
        <div class="col-lg-4" style="width:60%;;margin-top:4px">
<table class='table table-bordered'>
<tr>
<td><h3 style="text-align:center">Issue Gift Cards</h3></td>
</tr><tr>
<td><center><form action="/merchants/issuecard" method="POST">
    <div class="form-group">
        <label for="email">Name:</label>
        <input type="text"class="form-control" id="contact" placeholder="John" name="name"style="text-align:center;width:300px" >
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" style="text-align:center;width:300px" name="email">
    </div>
    <div class="form-group">
        <label for="email">Amount</label>
        <input type="text"class="form-control" id="company" placeholder="John" name="amount" style="text-align:center;width:300px">
    </div>
    <button type="submit" class="btn btn-default">Issue</button>
</td></form>
</center>

{{# each items }}
    <tr class="item">
        <td>{{ this.name }}</td>
        <td>{{ this.email }}</td>
        <td>{{ this.amount }}</td>
    </tr>
{{/each}}
</table>
</div></div></div>
