
<div class="trans">
    <div class="row">
        <div class="col-lg-8" style="width:30%;margin-top:4px">
            <table class='table table-bordered' style="background-color:black;">

                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black; text-decoration:none"><a href="/merchants/profile" style="color:black">PROFILE</a><h5></td>
                </tr>
                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/merchants/get-data" style="color:black">TRANSACTIONS</a></h5></td>
                </tr>
                <tr class="warning">
                    <td> <h5 style="text-align: center;color:black;text-decoration:none"><a href="/merchants/pending_cards" style="color:black">PENDING CARDS</a></h5></td>
                </tr>
            </table>
        </div>
        <h5 class="heading" style="text-align:center;font-size:33px;font-family:fanatasy">Transactions</h5>
        <div class="col-lg-4" style="width:60%;padding-left:157px">
            <table class='table table-bordered'>


                <tr class="danger">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Reedem</th>
                </tr>
                {{# each items }}
                <form method="post" action="/merchants/pending_cards">
                    <tr class="item success">
                        <td>{{ this.uusername }}</td>
                        <input type = "hidden" name="username" value="{{ this.uusername }}">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <td>{{ this.email }}</td>
                        <td>{{ this.amount }}</td>
                        <td>{{ this.status }}</td>
                            <td><button type="submit" id="button_submit" class="btn btn-default warning {{this.status}}" name="redeem" onclick="this.form.submit();this.disabled=true;">Redeem</button>
                    </tr>
                </form>
                {{/each}}
            </table>
        </div>
    </div>
</div>



